# created by virtualenv automatically
.DS_Store
bin/
lib/
with-health*
pyvenv*
# drop ed files we are not publishing publicly
data/input/g4*
data/input/2021_*
data/input/Fall *
PoliticoStar*
Spring 2020*
interviews*
combine_ire*
combine_NAEP*
data/output/irea*
data/output/scorecard/math*
data/output/scorecard/reading**
testing-*
data/input/map*
data/output/weighted_at*